
.marker{
    background-color: lightblue;
    border-radius: 40%;
    border: solid, 2px, black
}

.marker-delivery{
    background-color: darkblue;
    border-radius: 40%;
    border: solid, 2px, white
}